@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
:root{
    --primary-color : #fab005;
    --secondary-color : #112240;
}
.container{
    width: 100%;
    height: 100vh;
}
.top{
    width: 100%;
    background-color: #112240;
    padding: 1.3rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom: 3px solid var(--primary-color);
   
}

.top-title{
    color: var(--primary-color);
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}

.top-para{
    color: #ffff;
    text-align: center;
    font-weight: 100;
    font-size: 1.7rem;
}

.top-scan{
color: #ffff;
}

.middle{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 9rem ; */
    margin: 1.4rem 0;
}

.input-area{
    width: 80%;
    height: 27vh;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.9rem;
    outline: none;
    border: 2px solid var(--secondary-color);
    border-top: 5px solid var(--secondary-color);
}   

::placeholder{
    color: var(--secondary-color);
    /* opacity: 0.9; */
}

.btn-translate{
    width: 30%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.9rem;
    border: none;
    margin: 1.5rem 0;
    border: 2px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 0.9rem;
    font-size: 1.5rem;
}

.btn-translate:hover{
  background-color: #fab005d8;
  transition: 0.3s ease all;
}

.output-area{
    width: 80%;
    height: 27vh;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.9rem;
    outline: none;
    overflow-wrap: break-word;
    /* overflow: scroll; */
    border: 2px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
}

.bottom{
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-top: 3px solid var(--primary-color);
}

.bottom-para{
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

/* Responsive */
@media (max-width : 478px){

    .top-title{
        font-size: 1.8rem;
    }
    
    .top-para{
        font-size: 1.5rem;
    }
    .middle{
        margin: 0.6rem 0;
    }

    .input-area{
        height: 30vh;
        width: 90%;
    }

    .output-area{
        height: 30vh;
        width: 90%;
    }

    .btn-translate{
        width: 80%;
        margin: 0.7rem 0
    }

    .bottom-para{
        font-size: 0.9rem;
        margin-top: 0.5rem;
    
    }


}