@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


body{
    display: flex;
    justify-content: center;
}

.top{
    width: 100%;
    padding: 2rem 1rem;
    background: rgb(249,41,65);
    background: linear-gradient(90deg, rgba(249,41,65,1) 34%, rgba(251,84,108,1) 100%, rgba(251,82,106,1) 100%);
    color: white; 
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 5px solid rgb(255, 207, 207);
    box-sizing: border-box;
}

.top h4{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}


.container{
    width: 60%;
    height: 100vh;
}


.middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle .input{
    width: 80%;
    min-height: 12rem;
    padding: 0.7rem 0.7rem ;    
}

.middle .output{
    width: 80%;
    padding: 0.7rem 0.7rem ;
    min-height: 12rem;
}

.mid-p{
    color: rgb(255, 35, 60);
    /* width: 90%; */
    margin-top: 1.6rem;
    margin-bottom: 0;
    background-color: rgba(255, 207, 207, 0.363);
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.input ,.output{
    margin: 1.6rem 0;
    border: 2px solid rgb(249,41,65);
    border-radius: 0.5rem;
    box-shadow: inset;
    color: rgb(255, 35, 60);
    font-size: 1.2rem;
    overflow-wrap: break-word;
}

.speakBtn{
    padding: 1rem 3rem;
    /* width: 20rem; */
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    /* outline: none; */
    border: 2px solid rgb(255, 23, 50);
    background: none;
    border-radius: 0.5rem;
    box-shadow: 0 12px 12px -11px #00000041;
    background: rgb(249,41,65);
    background: linear-gradient(150deg, rgba(249,41,65,1) 34%, rgba(251,84,108,1) 100%, rgba(251,82,106,1) 100%);
}



.bottom{
    width: 100%;
    padding: 1rem 1rem;
    background: rgb(249,41,65);
    background: linear-gradient(90deg, rgba(249,41,65,1) 34%, rgba(251,84,108,1) 100%, rgba(251,82,106,1) 100%);
    color: white; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 5px solid rgb(255, 207, 207);
}

.bottom h4{
    font-size: 1.5rem;
}

.bottom h4, p{
    text-align: center;
    margin-bottom: 1rem;
}

.bottom p a{
    color: white;
}
.b-bottom{
    font-weight: bold;
}


@media (max-width : 478px){
    .container{
        width: 98%;
    }

    .top h4{
        font-size: 1.5rem;
    }

    .middle .input{
        width: 93%;    
    }
    
    .middle .output{
        width: 93%;
    }

    .mid-p{
        width: 93%;
    }

    .input ,.output{
        margin: 1.7rem 0;
    }


    .bottom h4, p{
        
        margin-bottom: 0.4rem;
    }

    .bottom .b-mid{
        text-align: start;
    }

    .b-bottom{
        font-weight: bold;
    }

}

@media (min-width : 479px) and (max-width : 1200px){
    .container{
        width: 80%;
    }
}